/*
основной серый текст - #757575;
второстепенный черный текст- #212121;
при наведении на ссылку (акцент) - голубой - #2196F3;
белый текст в hero и футере  - #FFFFFF;
задний фон на нечетной сеции - #F5F4FA;
задний фон hero и футера темно-синий - #2F303A;
серый border - #EEEEEE;
серая линия под хедером - #ECECEC;
черный - #000000;
серый дял текск футера - #FFFFFF99;
*/

:root {
  --primary-text-color: #757575;
  --full-black-color: #000000;
  --secondary-black-color: #212121;
  --accent-blue-color: #2196f3;
  --primary-white-color: #ffffff;
  --dark-background: #2f303a;
  --gray-background: #f5f4fa;
  --gray-opacity-color: #ffffff99;
  --card-border-background: #eeeeee;
  --gray-header-border: #ececec;
  --btn-background-color: #188ce8;
  --icon-soc-networks-color: #afb1b8;
  --background-dark-color: #2f303acc;
  --background-backdrop: #00000033;

  --transition-standart: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --input-border-color: #21212133;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* ---------УТИЛИТЫ--------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;

  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding: 0 15px;

  margin: 0 auto;
}

/* ----------MAIN-HEADER---------- */

header {
  border-bottom: 1px solid var(--gray-header-border);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--primary-white-color);

  z-index: 5;
}

.container.main-header {
  display: flex;
  align-items: center;
}

/* ----------MAIN-NAV---------- */

.main-nav {
  display: flex;
  align-items: center;
}

/* ------------NAVIGATION------------ */

.logo-header,
.logo-footer {
  display: inline-block;
  color: var(--accent-blue-color);

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header .header {
  padding: 0;
  color: var(--full-black-color);
}

.logo-footer .footer {
  padding: 0;
  color: var(--primary-white-color);
}

/* ----------SITE-NAV---------- */

.site-nav {
  display: flex;

  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  display: block;
  padding: 32px 0;

  color: var(--secondary-black-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-standart);
}

.site-nav .link.current {
  color: var(--accent-blue-color);
}

.site-nav .link.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-blue-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-blue-color);
}

/* --------INFO-NAV-------- */

.info-nav {
  display: flex;
  margin-left: auto;
}

.info-nav > .item + .item {
  margin-left: 50px;
}

.info-nav .item {
  display: flex;
  align-items: center;
}

.info-nav .link {
  display: flex;
  align-items: center;
  padding: 32px 0;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-standart);
}

.info-nav .icon {
  fill: currentColor;
  margin-right: 10px;
}

.info-nav .link:hover,
.info-nav .link:focus {
  color: var(--accent-blue-color);
}

main {
  margin-top: 80px;
}

/* ------------HERO------------ */

.hero {
  text-align: center;
  padding: 200px 0;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/index/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* ---------MODAL--------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--background-backdrop);
  opacity: 1;

  transition: opacity var(--transition-standart);
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;

  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--transition-standart);
}

.elips-svg {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  border-radius: 50%;

  cursor: pointer;
  color: var(--accent-blue-color);
  background-color: transparent;
}

.cross-svg {
  transition: fill var(--transition-standart);
}

.elips-svg:hover .cross-svg,
.elips-svg:focus .cross-svg {
  fill: currentColor;
}

/* -----MODAL-FILL----- */

.modal-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 40px;
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--secondary-black-color);
}

.modal-label + .modal-label {
  margin-top: 10px;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.wrapper-label {
  position: relative;
}

.modal-input {
  display: block;
  width: 100%;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;

  border: 1px solid var(--input-border-color);
  border-radius: 4px;

  transition: border-color var(--transition-standart);
}

.modal-input:focus-visible,
.modal-textarea:focus-visible {
  outline: none;
}

.modal-label:focus-within .modal-input,
.modal-label:focus-within .modal-textarea,
.modal-label:hover .modal-input,
.modal-label:hover .modal-textarea,
.modal-checkbox:focus ~ .icon-check {
  border-color: var(--accent-blue-color);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);
  transition: fill var(--transition-standart);
}

.modal-label:focus-within .modal-input ~ .modal-input-icon {
  fill: var(--accent-blue-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  border: 1px solid var(--input-border-color);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  transition: border-color var(--transition-standart);
}

.modal-textarea::placeholder {
  color: #75757580;
}

/* -----CHECKBOX----- */

.modal-checkbox-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.label-checkbox {
  display: flex;
  align-items: center;
  line-height: 1.71;
  cursor: pointer;
}

.modal-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-checkbox:checked ~ .icon-check {
  background-color: var(--accent-blue-color);
  border-color: transparent;
}

.icon-check {
  display: flex;
  align-self: center;
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 8.38px;
}

.modal-checkbox-form .link-terms {
  display: inline-block;
  margin-left: 5px;
  color: var(--accent-blue-color);
  cursor: pointer;

  text-decoration: none;
  transition: transform var(--transition-standart);
}

.modal-checkbox-form .link-terms:hover,
.modal-checkbox-form .link-terms:focus {
  transform: scale(1.05);
  text-decoration: underline;
}

/* ------------BUTTON------------ */

.button-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.button-list .item {
  margin-right: 8px;
}

.button-list .item:last-child {
  margin-right: 0;
}

.button-list .button {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--gray-background);
  color: var(--secondary-black-color);

  transition: background-color var(--transition-standart), color var(--transition-standart),
    box-shadow var(--transition-standart);
}

.button-list .button:hover,
.button-list .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-blue-color);

  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
}

.main-button {
  display: inline-block;
  padding: 10px 32px;

  font-family: inherit;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-white-color);
  background-color: var(--accent-blue-color);
  transition: background-color var(--transition-standart);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--btn-background-color);
}

/* -----MODAL-BUTTON----- */

.modal-button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background-color: var(--accent-blue-color);
  box-shadow: 0px 4px 4px 0px #00000026;

  transition: background-color var(--transition-standart);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--btn-background-color);
}

/* ----------FOOTER-BUTTON---------- */

.footer-subscribe-button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 100%;

  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);

  padding: 10px 28px;
  background-color: var(--accent-blue-color);
  box-shadow: 0px 4px 4px 0px #00000026;

  transition: background-color var(--transition-standart);
}

.footer-icon-plane {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: var(--btn-background-color);
}

/* ------------ОСОБЛИВОСТІ------------ */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.without-botpadding {
  padding-bottom: 0;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-black-color);
}

/* -----------FEATURES----------- */

.features-list {
  display: flex;
  gap: 30px;
}

.features-list .item {
  width: calc((100% - 90px) / 4);
}

.features-list .item-image {
  display: block;
  padding: 25px 100px;
  text-align: center;
  margin-bottom: 30px;

  background-color: var(--gray-background);
  border-radius: 4px;
}

.features-list .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-black-color);
}

.features-list .describe {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ------------WORK------------ */

.work-list {
  display: flex;
  gap: 30px;
}

.work-list .item {
  position: relative;

  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.work-list .item-image {
  display: block;
}

.work-list .item-title-image {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--background-dark-color);

  transform: translateY(100%);
  transition: transform var(--transition-standart);
}

.item:hover .item-title-image {
  transform: translateY(0);
}

/* ------------КОМАНДА------------ */

/* calc((100% - кол-во маржинов * значение маржинов) / кол-во элементов в строке) */

.section.team {
  background-color: var(--gray-background);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list .card {
  width: calc((100% - 90px) / 4);

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .describe {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list .title,
.team-list .job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .title {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--secondary-black-color);
}

.soc-networks {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.soc-networks .item:not(:last-child) {
  margin-right: 10px;
}

.soc-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;

  color: var(--icon-soc-networks-color);
  transition: color var(--transition-standart), background-color var(--transition-standart);
}

.soc-networks .icon {
  fill: currentColor;
}

.soc-icon-link:hover,
.soc-icon-link:focus {
  background-color: var(--accent-blue-color);
  color: var(--primary-white-color);
}

/* ------------ПОСТІЙНІ КЛІЄНТИ------------ */

.section-clients .section-title {
  margin-bottom: 50px;
}

.section-clients .list-item {
  display: flex;
}

.section-clients .item:not(:last-child) {
  margin-right: 30px;
}

.section-clients .clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--icon-soc-networks-color);
  border-radius: 4px;

  color: var(--icon-soc-networks-color);

  transition: border-color var(--transition-standart), color var(--transition-standart);
}

.section-clients .image {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-blue-color);
  color: var(--accent-blue-color);
}

/* ------------ФУТЕР------------ */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background);
}

.footer .column-list {
  display: flex;
  align-items: baseline;
}

.footer .column:not(:last-child) {
  margin-right: 70px;
}

.logo-footer {
  margin-top: 0;
  margin-bottom: 20px;
}

.contact-address {
  font-style: normal;
}

.address-list .link {
  color: var(--gray-opacity-color);
  line-height: 1.71;

  transition: color var(--transition-standart);
}

.address-list .link[href*='maps'] {
  color: var(--primary-white-color);

  transition: color var(--transition-standart);
}

.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-blue-color);
}

.address-list .item:not(:last-child) {
  margin-top: 0;
  margin-bottom: 9px;
}

/* -----SECOND-COLUMN----- */

.footer .footer-second-column.column {
  margin-right: auto;
}

.footer-second-column .title,
.footer-third-column .title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.footer-second-column .list-item {
  display: flex;
}

.footer-second-column .item:not(:last-child) {
  margin-right: 10px;
}

.footer-second-column .link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: none;
  border-radius: 50%;

  background-color: #ffffff1a;
  color: var(--primary-white-color);

  transition: background-color var(--transition-standart);
}

.footer-second-column .icon {
  fill: currentColor;
}

.footer-second-column .link-icon:hover,
.footer-second-column .link-icon:focus {
  background-color: var(--accent-blue-color);
}

/* ----------THIRD-COLUMN---------- */

.footer-third-column {
  width: 570px;
  /* margin-left: auto; */
}

.footer-subscribe {
  display: flex;
}

.footer-input {
  display: inline-block;
  width: 100%;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  color: var(--gray-opacity-color);

  border: 1px solid #ffffff4d;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: transparent;

  transition: border-color var(--transition-standart);
}

.footer-input:focus-visible,
.footer-input:focus {
  outline: none;
  border-color: var(--accent-blue-color);
}

/* ------------***PORTFOLIO***------------ */

.examples-list {
  display: flex;
  flex-wrap: wrap;
}

.examples-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.examples-list .item:nth-child(3n) {
  margin-right: 0;
}

.examples-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples-list .card-link {
  display: block;
  color: var(--primary-text-color);

  transition: box-shadow var(--transition-standart);
}

.examples-list .card-link:hover,
.examples-list .card-link:focus {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
}

/* ----------TOP-BOARD---------- */

.examples-list .top-board {
  position: relative;
  overflow: hidden;
}

.top-board .card-backdrop {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: #2196f3e5;

  transform: translateY(100%);
  transition: transform var(--transition-standart);
}

.card-backdrop .text {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.card-link:hover .card-backdrop,
.card-link:focus .card-backdrop {
  transform: translateY(0);
}

/* ----------BOTTOM-BOARD---------- */

.examples-list .bottom-board {
  padding: 20px 24px;

  border: 1px solid var(--card-border-background);
  border-top: none;
}

.examples-list .title {
  margin-bottom: 4px;

  color: var(--secondary-black-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list .type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
