.porfolio__top-part {
  position: relative;
  overflow: hidden;
}

.porfolio__backdrop {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: #2196f3e5;

  transform: translateY(100.3%);
  transition: transform var(--transition-standart);
}

.porfolio__text {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.porfolio__link:hover .porfolio__backdrop,
.porfolio__link:focus .porfolio__backdrop {
  transform: translateY(0);
}
