.features {
  display: flex;
  gap: 30px;
}

.features__item {
  width: calc((100% - 90px) / 4);
}

.features__image-wrapper {
  display: block;
  padding: 25px 100px;
  text-align: center;
  margin-bottom: 30px;

  background-color: var(--gray-background);
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-black-color);
}

.features__describe {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
