.logo {
  display: inline-block;
  color: var(--accent-blue-color);

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__word-header {
  padding: 0;
  color: var(--full-black-color);
}

.logo__word-footer {
  padding: 0;
  color: var(--primary-white-color);
}
